.main {
   background-color:beige; 
   height: 800px;
   width: 1200px;
}

.block {
    display: flex;
    justify-content: space-between;
   width: 800px;
   height: 300px;
    background-color:rgb(250, 186, 247);
}
.block2 {
    margin-top: 50px;
    padding-top: 20px;
    background-color:rgb(250, 186, 247);
    width: 600px;
    height: 300px;
}